<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Rawr.Properties.Recent" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="Rawr.Properties.Optimizer" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="Rawr.Recent" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <userSettings>
    <Rawr.Properties.Recent>
      <setting name="RecentFiles" serializeAs="String">
        <value />
      </setting>
      <setting name="RecentModel" serializeAs="String">
        <value>Bear</value>
      </setting>
      <setting name="SeenIntroVersion" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WindowSize" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="WindowLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="ShowStartPage" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RecentRegion" serializeAs="String">
        <value>US</value>
      </setting>
      <setting name="BatchToolsWindowSize" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="BatchToolsWindowLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
    </Rawr.Properties.Recent>
    <Rawr.Properties.Optimizer>
      <setting name="WarningsEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Thoroughness" serializeAs="String">
        <value>150</value>
      </setting>
      <setting name="OverrideRegem" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CalculationToOptimize" serializeAs="String">
        <value/>
      </setting>
      <setting name="OverrideReenchant" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OptimizationMethod" serializeAs="String">
        <value>GeneticAlgorithm</value>
      </setting>
      <setting name="TemplateGemsEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="GreedyOptimizationMethod" serializeAs="String">
        <value>AllCombinations</value>
      </setting>
    </Rawr.Properties.Optimizer>
    <Rawr.Recent>
      <setting name="RecentFiles" serializeAs="String">
        <value/>
      </setting>
      <setting name="RecentModel" serializeAs="String">
        <value>Bear</value>
      </setting>
    </Rawr.Recent>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Data"/>
    </assemblyBinding>
  </runtime>
</configuration>
