<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Rawr.Properties.CacheSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Rawr.Properties.NetworkSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Rawr.Properties.NetworkSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <Rawr.Properties.CacheSettings>
      <setting name="RelativeItemImageCache" serializeAs="String">
        <value>Data/images</value>
      </setting>
      <setting name="RelativeTalentImageCache" serializeAs="String">
        <value>Data/talent_images</value>
      </setting>
    </Rawr.Properties.CacheSettings>
    <Rawr.CacheSettings>
      <setting name="RelativeImageCache" serializeAs="String">
        <value>images</value>
      </setting>
    </Rawr.CacheSettings>
    <Rawr.Properties.NetworkSettings>
      <setting name="ProxyServer" serializeAs="String">
        <value />
      </setting>
      <setting name="ProxyPort" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="UseDefaultProxySettings" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ProxyUserName" serializeAs="String">
        <value />
      </setting>
      <setting name="ProxyPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="MaxHttpRequests" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="ProxyType" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="UserAgent" serializeAs="String">
        <value>Mozilla/5.0 (Windows; U; Windows NT 6.0; en-US; rv:1.8.1.4) Gecko/20070515 Firefox/2.0.0.4</value>
      </setting>
      <setting name="DownloadItemInfo" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ProxyRequiresAuthentication" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseDefaultAuthenticationForProxy" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ProxyDomain" serializeAs="String">
        <value />
      </setting>
    </Rawr.Properties.NetworkSettings>
  </userSettings>
  <applicationSettings>
    <Rawr.Properties.NetworkSettings>
      <setting name="WoWItemIconURI" serializeAs="String">
        <value>http://www.wowarmory.com/images/icons/64x64/</value>
      </setting>
      <setting name="UserAgent_IE7" serializeAs="String">
        <value>Mozilla/4.0 (compatible; MSIE 7.0; Windows NT 5.1; bgft) </value>
      </setting>
      <setting name="UserAgent_IE6" serializeAs="String">
        <value>Mozilla/4.0 (compatible; MSIE 6.0; Windows NT 5.1; SV1) </value>
      </setting>
      <setting name="UserAgent_FireFox2" serializeAs="String">
        <value>Mozilla/5.0 (Windows; U; Windows NT 6.0; en-US; rv:1.8.1.4) Gecko/20070515 Firefox/2.0.0.4</value>
      </setting>
      <setting name="ClassTalentURI" serializeAs="String">
        <value>http://www.worldofwarcraft.com/shared/global/talents/{0}/data.js</value>
      </setting>
      <setting name="CharacterTalentURI" serializeAs="String">
        <value>http://{0}.wowarmory.com/character-talents.xml?r={1}&amp;n={2}</value>
      </setting>
      <setting name="CharacterSheetURI" serializeAs="String">
        <value>http://{0}.wowarmory.com/character-sheet.xml?r={1}&amp;n={2}</value>
      </setting>
      <setting name="ItemToolTipSheetURI" serializeAs="String">
        <value>http://www.wowarmory.com/item-tooltip.xml?i={0}</value>
      </setting>
      <setting name="ItemUpgradeURI" serializeAs="String">
        <value>http://{0}.wowarmory.com/search.xml?searchType=items&amp;pr={1}&amp;pn={2}&amp;pi={3}</value>
      </setting>
      <setting name="TalentIconURI" serializeAs="String">
        <value>http://www.worldofwarcraft.com/shared/global/talents//wrath/{0}/images/{1}/{2}.jpg</value>
      </setting>
      <setting name="ItemInfoURI" serializeAs="String">
        <value>http://www.wowarmory.com/item-info.xml?i={0}</value>
      </setting>
    </Rawr.Properties.NetworkSettings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Data"/>
    </assemblyBinding>
  </runtime>
</configuration>