<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Rawr.Mage.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Rawr.Mage.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Rawr.Mage.Properties.Settings>
            <setting name="DisplayedSMPWarning" serializeAs="String">
                <value>False</value>
            </setting>
        </Rawr.Mage.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Rawr.Mage.Properties.Settings>
            <setting name="MaxHeapLimit" serializeAs="String">
                <value>500</value>
            </setting>
        </Rawr.Mage.Properties.Settings>
    </applicationSettings>
</configuration>